.header{
    width: 100%;
    height: 50px;
    position: absolute;
    top: 0;
    background: #E1E1E1;
    border-bottom: 1px solid #1E1E1E;
}

.devider{
    border-right: 1px solid #ccc;
}

@media(max-width: 990px){
    .devider{
        border-right: 0;
    }
}
